<html>
  <head>
    <title>Express handlebars</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">

  </head>
  <body>
    <div class="chatbox">
      <h2>Hello! Welcome to the constuction site of StoryHop! {{apology}}<h2></h2>
    </div>
    
    <div class="rightCol">
      <div class="connected">
        <div class="connected-top">
          Users currently playing: {{queueLoc}}
        </div>
        
        <div class="connected-bottom">
          <button>Login</button>
          <button>Don't Login</button>
        </div>

        <div class="wotd">
        The word of the day is:</br><em>Legume</em>.
      </div>

    </div>

  </body>
</html>