<html>
  <head>
    <title>Express handlebars</title>

    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  </head>
  <body>
    <h2>Hello! You are currently {{queueLoc}} in the line to wait for StoryHop! {{apology}}<h2>
  </body>
</html>