<!DOCTYPE html>
<html lang="en" ng-app="storyhop">
  <head>
      <title>Hello</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  </head>

  <body ng-controller="controller" ng-init="init()">

    <!-- Insert Body here -->
    <div class="container-fluid">
      <div class="offset-md-2 col-md-8 secondary-page-header">
        <h2>Welcome </h2>
      </div>
      <div class="row dashboard-panel-container">
        <div class="offset-sm-1 col-sm-10 offset-md-2 col-md-4 offset-lg-2 col-lg-4">
          <div class="panel">
            <div class="dashboard-panel">
              <h3>My Period</h3>
              <p>
                Hello
              </p>
            </div>
          </div>
        </div>
        <div class="offset-sm-1 col-sm-10 offset-md-2 col-md-4 offset-lg-2 col-lg-4">
          <div class="panel">
            <div class="dashboard-panel">
              <h3>My Period</h3>
              <p>
                Hello
              </p>
            </div>
          </div>
        </div>
      </div>
	</div>
</body>
</html>
