.chatbox {
    width: 78%;
    height:100%;
    background-color: rgb(24, 189, 189);
    color: rgb(255, 0, 0);
    float: left;
    text-align: center;
    border-style: inset;
    border-width: 3px;
    border-color: black;
}

.rightCol {
    margin-left: 1%;
    width:20%;
    height: 30%;
    border-style: inset;
    border-width: 3px;
    border-color: black;
    display: inline-block;
}

.connected {
    float: top;
    width: 100%;
    height: 30%;
}

.wotd {
    margin: auto;
    margin-top: 1%;
    width: 100%;
    height: 50%;
    border-width: 3px;
    border-color: black;
    text-align: center;
}

.connected-top {
    border-bottom: 1px solid black;
    text-align: center;
    margin: auto;
}

.connected-bottom {
    border-bottom: 1px solid black;
    width: 100%;
    height: 70%;
    display: inline-flex;
}

button {
    width: 100%;
    height: 100%;
}